* {
  margin: 0;
  letter-spacing: 0.3px;
  font-family: "Roboto", sans-serif;
  /* font-size: 17px; */
  line-height: 1.5em;
}
:root {
  --nav-color: #fff;
  --main-link: #7041af;
  --primary: #2f1b47;
}
header {
  background-color: var(--primary);
}

.top-header {
  margin: 2%;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;

  color: var(--nav-color);
}

.cartoon-image {
  display: block;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  width: 50%;
}

#primary-nav {
  background-color: var(--primary);
  color: #a484d3;
  margin: 0 auto;
  padding: 2%;
}

#primary-nav ul {
  margin: 0 auto;
  text-align: center;
}
#primary-nav ul li {
  display: block;
  padding: 7%;
}
#primary-nav ul li a {
  color: var(--nav-color);
  letter-spacing: 0.8px;
  font-size: large;
}

/* #primary-nav ul li a[aria-current="page"] {
  font-weight: bold;
  border-bottom: 2px solid var(--main-link);
} */

#primary-nav ul li a:focus,
#primary-nav ul li a:hover {
  outline: 2px solid var(--main-link);
  border-radius: 5px;
}

#skip a {
  position: absolute;
  color: #fff;
  letter-spacing: 0.8px;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip a:focus {
  height: auto;
  position: static;
  width: auto;
}

h2 {
  margin-bottom: 12%;
  margin-top: 12%;
  text-align: center;
  font-size: 25px;
}
h3 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 18px;
  text-align: center;
}
h4 {
  padding-top: 1%;
  font-size: 15px;
}

.chef {
  width: 100%;
}

.sub-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  /* height: 100vh; */
}

.steps {
  margin-top: 3%;
  word-spacing: 1px;
}

.steps img {
  display: block;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 100%; */
  width: 50%;
}

article > p,
section > p {
  padding-bottom: 5%;
  padding-top: 5%;
  text-indent: 3em;
  /* letter-spacing: 0.5px; */
}

.flex-container {
  display: flex;
}

a {
  color: var(--main-link);
}

.small-fonts {
  font-size: 1px;
  margin-top: 2%;
  margin-bottom: 2%;
}

form {
  display: block;
  margin: auto;
}
input {
  width: 100%;
  margin-bottom: 2%;
}

textarea {
  width: 100%;
}

.submit-btn {
  margin: 0 auto;
  margin-top: 4%;
  /* background-color: var(--main-link); */
}

.submit-btn > input {
  padding: 7%;
  background-color: var(--main-link);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

label {
  display: block;
}

footer,
.white-links {
  margin: 0;
  padding: 2%;
  background-color: var(--primary);
  color: #fff;
}
footer {
  text-align: center;
}
.link-icon {
  width: 20px;
}

@media screen and (min-width: 680px) {
  .top-header {
    font-size: 45px;
    /* color: aqua; */
  }

  .header-image {
    width: 20%;
  }

  h2 {
    font-size: 40px;
    margin: 2%;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 25px;
  }

  .chef {
    width: 50%;
  }

  #primary-nav ul li {
    display: inline;
    padding: 5%;
  }
  p {
    font-size: 20px;
  }

  article > p,
  section > p {
    padding-bottom: 1%;
    padding-top: 1%;
    text-indent: 5em;
  }

  .submit-btn {
    width: 20%;
    margin: 0 auto;
    margin-top: 3%;
  }

  .submit-btn > input {
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    font: 15px;
  }
}
